{% extends 'parent.html' %}
{% block main %}
{% load static%}
<div class="container-fluid bg-emphasis">
    <div id="carouselExampleAutoplaying"  class="mt-3 carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <img src="{%static 'images/l1.png' %}" class="d-block w-100" alt="..." height="400px">
          </div>
          <div class="carousel-item">
            <img src="{%static 'images/l2.png' %}" class="d-block w-100" alt="..." height="400px">
          </div>
          <div class="carousel-item">
            <img src="{%static 'images/l3.png' %}" class="d-block w-100" alt="..." height="400px">
          </div>
          <div class="carousel-item">
            <img src="{%static 'images/l4.webp' %}" class="d-block w-100" alt="..." height="400px">
          </div>
          <div class="carousel-item">
            <img src="{%static 'images/l5.png' %}" class="d-block w-100" alt="..." height="400px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    <section id="about" class="about">
        <div style="background:linear-gradient(-15deg,rgba(255,255,255,.4),rgba(0,0,0,.7)),url({%static 'images/lib.jpg' %});min-height:55vh;background-repeat:no-repeat;background-size:cover;"  class="  container-fluid">
            <div class="section-title aos-init aos-animate" data-aos="zoom-out">
                <h2 class="text-center text-dark">About</h2>
        <div style="margin-top:40px;">
        <p class="mt-3" >
        <strong> 
        <br><br>
         The E-Gyan Portal will not only digitalise every process of learning but focuses on easy access to the self-learning materials and self-assessment tools. The students of the university will experience instant communication and feedback with the concerned faculties or staff eliminating any barriers to an effective flow of information. The portal will also enable the university for a better digital experience in providing the students with their self-learning material and self-assessment tools and study centre associations. All the study centres associated with the university offers all the courses available in the university. This means that the self-learning material of all the  courses will be available to all the students associated to any of the study centres of the university. This portal will advance and transform the course of education of the university.
        The portal is accessible from any hook and corner of the world if the system allows the permission to its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring &amp; Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins when they are at a distance.
        </p></strong>
    </div>
    </div>
        </div>
        </section>
        {% comment %} <div class="mt-3" style="background-color:white; min-height:100px; text-color:yellow">
            <h1 class="text-center text-dark" >News</h1>
            <div class="" >
            <marquee behavior="alternate" height="100px"   onmouseover="stop()" onmouseout="start()" scrollamount="8" direction="up">
            {% for e in einfo %}
            
            <p class="justify-content-center align-items-center text-warning "><img src="{%static 'images/new.gif' %} "style="height:30px;width:30px;"><span class="mx-3">{{e.event}}</span></p>
            {% endfor %}
          </marquee>
        </div> {% endcomment %}
      </div>
      <div class="container-fluid">
        <div class="row  bg-light  ">
          <h1 class="text-center text-dark">ADMINISTRATIVE SETUP</h1>
          <div class="col-sm-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="{%static 'images/p3.jpg' %}" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h4>Professor Name</h4>
                  <div class="row">
                    <div class="col-sm-4">Designation</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Designation</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">Degree</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Degree</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">Department</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Department</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="{%static 'images/p1.jpg' %}" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h4>Professor Name</h4>
                  <div class="row">
                    <div class="col-sm-4">Designation</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Designation</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">Degree</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Degree</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">Department</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm"> Department</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="{%static 'images/p2.jpg' %}" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h4>Professor Name</h4>
                  <div class="row">
                    <div class="col-sm-4">Designation</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Designation</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">Degree</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Degree</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">Department</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Department</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="{%static 'images/p4.jpg' %}" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h4>Professor Name</h4>
                  <div class="row">
                    <div class="col-sm-4">Designation</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Designation</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">Degree</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Degree</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">Department</div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm">Department</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3"></div>
        </div>
      </div>
    {% comment %} --------------------------------------------- -----------------facilities----------------------------------------------------------------- {% endcomment %}
    <div id="portfolio">
      <div class="container-fluid  bg-light " >
        <h1 class="text-center text-dark">Student Services</h1>
          <div class="row g-0">
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="{%url 'nouapp:registration'%}" title="Project Name">
                      <img class="img-fluid" src="{%static 'images/g1.jpeg' %}" alt="..."  style="height:300px;width:450px;"/>
                      <div class="portfolio-box-caption">
                          <div class="project-name">REGISTRATION</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="{%url 'nouapp:login'%}" title="Project Name">
                      <img class="img-fluid" src="{%static 'images/g2.jpg' %}" alt="..." style="height:300px;width:450px;"/>
                      <div class="portfolio-box-caption">
                          <div class="project-name">LOGIN</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="{%url 'nouapp:aboutus'%}" title="Project Name">
                      <img class="img-fluid" src="{%static 'images/g3.jpg' %}" alt="..." style="height:300px;width:450px;"/>
                      <div class="portfolio-box-caption">
                          <div class="project-name">ABOUT</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="{%url 'nouapp:index'%}" title="Project Name">
                      <img class="img-fluid"src="{%static 'images/g4.jpg' %}" style="height:300px;width:450px;" alt="..." />
                      <div class="portfolio-box-caption">
                          <div class="project-name">HOME</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="#" title="Project Name">
                      <img class="img-fluid" src="{%static 'images/g5.jpg' %}" style="height:300px;width:450px;" alt="..." />
                      <div class="portfolio-box-caption">
                          <div class="project-name">FEEDBACK</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="{%url 'nouapp:contactus'%}" title="Project Name">
                      <img class="img-fluid" src="{%static 'images/g6.jpg' %}" style="height:300px;width:450px;" alt="..." />
                      <div class="portfolio-box-caption p-3">
                          <div class="project-name">CONTACT US</div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="mt-3"></div>
      </div>
    </div>
</div>
{% endblock main %}