{% extends "studentparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Answer</h1>
            <form class="form-group" action="{% url 'studentapp:postans' %}" method="post">
                {% csrf_token %}
                <table class="table text-light" style="width:100%;margin=auto;">
                    <tr>
                        <td>Enter Answer</td>
                        <td>
                            <textarea name="answer" class="form-control text-light"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" class="form-control text-light" name="qid" value="{{qid}}">
                        </td>
                        <td><button class="btn btn-primary" type="submit">Post</button></td>
                    </tr>
                </table>
            </form>
              
        </div>
    </div>
{% endblock body %}