{% extends "studentparent.html" %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Student Profile</h1>   
              <table class="table table-bordered text-light" style="margin:auto; width:50%; text-align:center;">
                <tr>
                    <td>Roll Number</td>
                    <td>{{stu.rollno}}</td>
                </tr>
                <tr>
                    <td>Student Name</td>
                    <td>{{stu.name}}</td>
                </tr>
                <tr>
                    <td>Father Name</td>
                    <td>{{stu.fname}}</td>
                </tr>
                <tr>
                    <td>Mother Name</td>
                    <td>{{stu.mname}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{stu.gender}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{stu.address}}</td>
                </tr>
                <tr>
                    <td>Program</td>
                    <td>{{stu.program}}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>{{stu.year}}</td>
                </tr>
                <tr>
                    <td>Contact Number</td>
                    <td>{{stu.contactno}}</td>
                </tr>
                <tr>
                    <td>Email Address</td>
                    <td>{{stu.emailaddress}}</td>
                </tr>
                <tr>
                    <td>Registration Date</td>
                    <td>{{stu.regdate}}</td>
                </tr>
                <tr>
                    <td>Profile Pic</td>
                    <td><img src="{{stu.profile_pic.url}}" alt=""></td>
                </tr>
              </table>
        </div>
    </div>
{% endblock body %}