{% extends "adminparent.html" %}
{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align:center;">Admin Home</h1> 
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
                <form class="form-group"  action="{% url 'adminapp:adminchangepassword' %}" method="post">
                    {% csrf_token %}
            <table class="table table-bordered ">
            <tr>
                <td>
                    Current Password
                </td>
                <td><input class="form-control text-light" type="password" name="currentpassword" id="epassword" /></td>
            </tr>
                <tr>
                    <td>New Password</td>
                    <td><input class="form-control text-light" type="password" name="newpassword" id="password" /></td>
                </tr>
                <tr >
                    <td>Confirm Password</td>
                    <td><input class="form-control text-light" type="password" name="confirmpassword"  id="confirmpassword"/></td>
                </tr>   
                </tr>
                 <tr >            
                    <td colspan="2"><center><button class="btn btn-info" type="submit">Change Password</button></center></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock body %}
