{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <h1 style="text-align:center;">View Enquriy</h1>
        <div class="col-sm-12 " style="overflow-x: scroll;">
            <table class="tabel table-bordered text-light">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>Email Address</th>
                    <th>Enquiry Text</th>
                    <th>Enquiry Date</th>
                </tr>
                {% for e in enq %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.gender}}</td>
                    <td>{{e.address}}</td>
                    <td>{{e.contactno}}</td>
                    <td>{{e.emailaddress}}</td>
                    <td>{{e.enquirytext}}</td>
                    <td>{{e.enquirydate}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock body %}
