{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        
            <h1 style="text-align:center;">View Complaints</h1>   
            <div class="col-sm-12" style="overflow-x: scroll;">
                <table class="table table-bordered text-light">
                    <tr>
                        <th>#</th>
                        <th>Roll No</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Branch</th>
                        <th>Year</th>
                        <th>Contact No</th>
                        <th>Email Address</th>
                        <th>Subject</th>
                        <th>Complaints</th>
                        <th>Posted Date</th>
                    </tr>
                
                    {% for c in comp %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.rollno}}</td>
                        <td>{{c.name}}</td>
                        <td>{{c.program}}</td>
                        <td>{{c.branch}}</td>
                        <td>{{c.year}}</td>
                        <td>{{c.contactno}}</td>
                        <td>{{c.emailaddress}}</td>
                        <td>{{c.subject}}</td>
                        <td>{{c.responsetext}}</td>
                        <td>{{c.responsedate}}</td>
                    </tr>
                    {% endfor %}
                </table>

        </div>
    </div>
{% endblock body %}
